// You can add WiFi networks to automatically connect.
// If none are defined, the program will try to reconnect
// to the most recently connected network, which can
// be configured with `wifi/connect {ssid here} {password here}`
// (include the curly braces -- that's how you quote tokens in this command language).
// 
// MQTT server is *not* automatically remembered.
// But maybe you just want to use HELO packets anyway.

// Code to run during setup()
#define ES2021_POST_SETUP_CPP \
  addWifiNetwork("YOUR_SSID_HERE","YOUR_WIFI_PASSWORD_HERE"); \
  addWifiNetwork("ALTERNATE_SSID_HERE","ALTERNATE_PASSWORD_HERE"); \
  setMqttServer("YOUR_MQTT_SERVER_HOSTNAME_HERE", 1883, "USERNAME", "PASSWORD");

// Address of SSD1306 is probably either 0x3C or 0x3D
#define SSD1306_ADDRESS 0x3C
